<div *ngIf="!ready">
<span class="placeholder col-6"></span>
<span class="placeholder w-75"></span>
</div>

<div *ngIf="ready">
<div class="input-group mb-3">
  <input
    [(ngModel)]="search"
    type="text"
    class="form-control"
    placeholder="Buscar"
  />
  <button
    (click)="carregarCurso(1)"
    class="btn btn-secondary"
    type="button"
    id="button-addon2"
  >
    <i class="bi bi-search"></i>
  </button>
</div>
<hr />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Carga Horaria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos; let idx = index">
      <th scope="row">{{ idx + 1 + 5 * (page - 1) }}</th>
      <td>{{ curso.nome }}</td>
      <td>{{ curso.cargaHoraria }}</td>
      <td>
        <button
          [routerLink]="['/curso', curso.id]"
          class="border-0 bg-transparent"
        >
          <i class="bi bi-pencil"></i>
        </button>
        <button (click)="remover(curso.id)" class="border-0 bg-transparent">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-2">
    <button
      type="button"
      class="btn btn-primary mt-2"
      routerLink="/curso/novo"
    >
      Novo
    </button>
  </div>
  <div class="col-10 mt-2">
    <ngb-pagination
      [maxSize]="5"
      [ellipses]="false"
      [pageSize]="5"
      [collectionSize]="totalElements"
      (pageChange)="carregarCurso($event)"
    ></ngb-pagination>
  </div>
</div>
</div>
